
  *{
    margin: 0;
    padding: 0;
    background: white;
    color: black;
  }
  
  #container{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10em;
  }

  #img-paisagem{
    height: 100vh;
    width: 100%;
  }

  ion-input{
    text-align: left;
    font-size: 1.25em;
    margin: .625em;
  }

  .texto{
    text-align: left;
    font-size: 1.25em;
    margin: .625em;
  }

  .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo{
    font-size: 4em;
    font-weight: bold;
  }

  .button-1{
    width: 7vw;
    height: 5vh;
    margin-top: 2em;
    color: white;
    --background: rgb(30, 139, 116);
    --border-radius: .75em;
  }

  .button-2{
    width: 7vw;
    color: white;
    --background: #3b5998;
    --border-radius: .9em;
  }

  .button-3{
    width: 7vw;
    color: white;
    --background: #00acee;
    --border-radius: .9em;
  }

  .button-4{
    width: 7vw;
    color: white;
    --background: #db4437;
    --border-radius: .9em;
  }